<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.app.sigap"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="24" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Yudi access -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />

    <!-- android:name="com.app.config.AppController" -->
    <application
        android:name="com.app.config.AppController"
        android:allowBackup="true"
        android:icon="@drawable/logo_new"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Splash Screen -->
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login Activity -->
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/LogIn" />

        <!-- Forget Password Activity -->
        <activity
            android:name=".ForgetPasswordActivity"
            android:label="@string/title_activity_forget_password"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/ForgetPassword" />

        <!-- Main Menu Activity -->
        <activity
            android:name="com.app.master.MainMenuActivity"
            android:label="@string/title_activity_main_menu"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen" />

        <!-- Signup Activity -->
        <activity
            android:name=".SignupActivity"
            android:label="@string/title_activity_signup"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/SignUp" />

        <!-- Signup Verification Activity -->
        <activity
            android:name=".SignVerificationActivity"
            android:label="@string/title_activity_signup_verification"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/SignUpVerification" />

        <!-- Signup Verification Activity -->
        <activity
            android:name=".LiveChatActivity"
            android:label="@string/title_activity_live_chat_sigap"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/LiveChat" />

        <!-- Bantuan Terdekat Activity -->
        <activity
            android:name=".BantuanTerdekatActivity"
            android:label="@string/title_activity_bantuan_terdekat"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/BantuanTerdekat" />

        <!-- Berita Polres -->
        <activity
            android:name=".BeritaPolresActivity"
            android:label="@string/title_activity_berita_polres"
            android:noHistory="false"
            android:screenOrientation="portrait"
            android:supportsRtl="true"
            android:theme="@style/SplashScreen" />

        <!-- Tentang Polres -->
        <activity
            android:name=".TentangPolresActivity"
            android:label="@string/title_activity_tentang_polres"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:supportsRtl="true"
            android:theme="@style/SplashScreen" />

        <!-- Tentang Aplikasi -->
        <activity
            android:name=".AboutAppActivity"
            android:label="@string/title_activity_about_app"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:supportsRtl="true"
            android:theme="@style/SplashScreen" />

        <!-- Tentang Aplikasi Revisi -->
        <activity
            android:name=".AboutApp2Activity"
            android:label="@string/title_activity_about_app"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:supportsRtl="true"
            android:theme="@style/SplashScreen" />

        <!-- Data Kepolisian -->
        <activity
            android:name=".PolisiActivity"
            android:label="@string/title_activity_polisi"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:supportsRtl="true"
            android:theme="@style/DataPolres" />

        <!-- Data Rumah Sakit -->
        <activity
            android:name=".RumahSakitActivity"
            android:label="@string/title_activity_rs"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:supportsRtl="true"
            android:theme="@style/DataPolres" />

        <!-- Data Pemadam Kebakaran -->
        <activity
            android:name=".DamkarActivity"
            android:label="@string/title_activity_damkar"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:supportsRtl="true"
            android:theme="@style/DataPolres" />

        <!-- Data SPBU -->
        <activity
            android:name=".SPBUActivity"
            android:label="@string/title_activity_spbu"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:supportsRtl="true"
            android:theme="@style/DataPolres" />

        <!-- Pelayanan Polres Activity -->
        <activity
            android:name=".PelayananPolresActivity"
            android:label="@string/title_activity_pelayanan_polres"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/BantuanTerdekat" />

        <!-- Qiscus Chat -->
        <activity
            android:name=".QiscusChatActivity"
            android:label="@string/title_activity_live_chat_sigap"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen" />

        <!-- Yudi Chat -->


        <!-- Pelayanan Polres : SKCK -->
        <activity
            android:name=".SKCKActivity"
            android:label="@string/title_activity_pelayanan_polres_skck"
            android:noHistory="false"
            android:screenOrientation="landscape"
            android:supportsRtl="true"
            android:theme="@style/SplashScreen" />

        <!-- Pelayanan Polres : SIM Identitas diri -->
        <activity
            android:name=".Sim1Activity"
            android:label="@string/title_activity_pelayanan_polres_sim"
            android:noHistory="false"
            android:screenOrientation="portrait"
            android:supportsRtl="true"
            android:theme="@style/SplashScreen" />

        <!-- Pelayanan Polres : SP2HP -->
        <activity
            android:name=".SP2HPActivity"
            android:label="@string/title_activity_pelayanan_polres_sp2hp"
            android:noHistory="false"
            android:screenOrientation="landscape"
            android:supportsRtl="true"
            android:theme="@style/SplashScreen" />

        <!-- Pengaturan : ganti password, ubah identitas, dll -->
        <activity
            android:name=".PengaturanActivity"
            android:label="@string/title_activity_pengaturan"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:supportsRtl="true"
            android:theme="@style/SplashScreen" />

        <!-- Tombol Panik -->
        <activity
            android:name="com.app.sigap.PanicShotActivity"
            android:label="@string/title_activity_panic_shot"
            android:parentActivityName="com.app.master.MainMenuActivity"
            android:theme="@style/PanicShot">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.master.MainMenuActivity" />
        </activity>
    </application>
</manifest>